@import url("https://fonts.googleapis.com/css?family=Arizonia&display=swap");

body {
  background-color: #5da9e9;
}

h1 {
  font-size: 6rem;
  text-align: center;
  font-family: "Arizonia", cursive;
  text-shadow: 2px 1px #1b2432;
  color: #f4f9e9;
  padding-bottom: 1rem;
}

main {
  background-color: white;
}

main > div {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

input {
  font-size: 2rem;
}

#payer-input {
  width: 1.5em;
  text-align: center;
}

#subtotal-input {
  width: 4em;
}

#per-person-text {
  display: none;
}

.sub-text {
  font-size: 1rem;
}
